<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>Portfolio</title>
</head>
<!-- Code voor navbar -->

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top mb-5 shadow">
    <div class="container">
      <a class="navbar-brand" href="/Templates/HTML/home.html">Khalid Alouat</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/Templates/HTML/home.html">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Templates/HTML/overmij.html">Over mij</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Templates/HTML/hobbies.html">Hobbies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/Templates/HTML/projecten.html">Projecten</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Templates/PHP/contact.php">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Buttons voor dark/light mode met onclick om de function swapStyle aan te roepen-->
  <button class="DM-btn2" onclick="swapStyle('/Public/CSS/light.css')"><i class="fas fa-sun"></i></button>
  <button class="DM-btn" onclick="swapStyle('/Public/CSS/dark.css')"><i class="far fa-moon"></i></button>
  <!-- Code voor card(Bootstrap) -->
  <div class="container">
    <div class="card border-0 shadow my-5">
      <div class="card-body p-5">
        <h1 class="font-weight-light">Projecten</h1>
        <p class="lead"></p>
        <div style="height: 40px"></div>
        <p class="lead">In de tijd dat ik op deze school heb gezeten heb ik aan veel projecten meegedaan. <br>Hieronder
          kan je alle projecten zien met een beschrijving over wat het project inhield.
          <br> Je kan op de projectnaam klikken en dan zie je het project.
        </p>
        <a href="/Templates/PHP/zuzu.php">Project PHP: Sushi restaurant ZuZu</a>
        <br>
        <p>Dit project ging vooral om de functionaliteit. Ik moest een webpagina maken waar je sushi kon bestellen met
          behulp van een database.</p>
        <a href="/Templates/HTML/rekenmachine.html">Project JS: Rekenmachine</a>
        <br>
        <p>Bij dit project moest ik een werkende rekenmachine maken met behulp van javascript HTML en CSS en dan
          presenteren. Wat best goed ging. Waar ik vooral trost om was is dat ik een echt werkende rekenmachine heb
          kunnen maken.</p>
        <a href="/Templates/HTML/BKE.html">Project JS: Boter, kaas en eieren</a>
        <br>
        <p>Bij dit project moest ik het spel boter, kaas en eieren maken met behulp van javascript HTML en CSS. Als je
          naar beneden scrolt kan je het spel ook zien.</p>
        <a href="https://github.com/ROCMondriaanTIN/sd20-csharp-dice-assignment-KhalidAlouat1">Project C#: Dice game</a>
        <br>
        <p>In dit project moest ik met 3 andere studenten een dice game maken met behulp van C#. Wat best leuk maar
          vooral leerzaam was. </p>
        <a href="https://github.com/ROCMondriaanTIN/sd20-csharp-opdracht-dierentuin-KhalidAlouat1/tree/starter">Project
          C#: Dierentuin</a>
        <br>
        <p>Dit was mijn eerste project op school. Ik moest samen met 3 andere studenten er voor zorgen dat we met behulp
          van C# een for-loop, switch en if-statement kunnen herkennen, maken en toepassen. En we moesten ook
          versiebeheer kunnen toepassen (Git).</p>
        <a href="https://github.com/KhalidAlouat1/Higher-Lower">Project C#: Higher lower</a>
        <br>
        <p>Bij het project hoger en lager moest ik met 4 andere leerlingen een spel maken. We moesten de behoefte van de
          product owner in kaart brengen, Het hoger-lager spel ontwerpen en een tussenpresentatie maken. Daarbij moesten
          we ook een eindverslag maken. </p>
        <hr>
        <p class="Csplaatje"><strong>Deel code project C#: hoger lager</strong></p>
        <img class="Higherlower" src="/Public/Images/HighLow.png" alt="higher lower">
        <hr>
        <h5><strong>Beroepsprofiel</strong></H5>
        <p> Ik moest ook een beroepsprofiel maken. De opdracht was als volgt: Je zoekt een bedrijf waar je graag zou
          willen werken, en interview iemand die daar werkt of soortgelijk werkt doet. Waar ik graag wou werken was
          Discord. Dus heb ik samen met een medestudent een gesprek proberen te regelen met een programmeur en hem een
          korte interview gegeven. Hij vertelde waar zijn bedrijf voor staat, wat hij leuk vond aan zijn werk, wat zijn
          taken waren als programmeur en wat nodig was om een geschikte programmeur te worden.</p>
        <h5><strong>Project Interaction Design: Eindproduct</strong></H5>
        <p> Ik moest ook met 2 andere studenten een eindproduct maken voor interaction design waar ik als scrummaster
          verantwoordelijk was om alle taken te verdelen en er voor TE zorgen dat we alles af kregen. Wat tevens ook is
          gelukt. </p>
        <br>
        <br>
      </div>
    </div>
  </div>
  <!-- Links/scripts -->
  <script src="/Public/JS/Main.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
    integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <link id="mystylesheet" rel="stylesheet" href="/Public/CSS/light.css">
  <link rel="stylesheet" href="/Public/CSS/style.css">
</body>

</html>